<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="utf-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--<title>weidea.net - Limitless - Responsive Web Application Kit by Eugene Kopyov</title>-->

    <!--&lt;!&ndash; Global stylesheets &ndash;&gt;-->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../bootstrap/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="../../bootstrap/css/core.min.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../bootstrap/css/components.min.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="../../bootstrap/css/colors.min.css" rel="stylesheet" type="text/css"/>-->
    <!--&lt;!&ndash; /global stylesheets &ndash;&gt;-->

    <!--&lt;!&ndash; Core JS files &ndash;&gt;-->
    <!--<script type="text/javascript" src="../../bootstrap/js/core/libraries/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="../../bootstrap/js/core/libraries/bootstrap.min.js"></script>-->
    <!--&lt;!&ndash; /core JS files &ndash;&gt;-->

    <!--&lt;!&ndash; Theme JS files &ndash;&gt;-->
    <!--<script type="text/javascript" src="../../bootstrap/js/plugins/ui/prism.min.js"></script>-->

    <!--<script type="text/javascript" src="../../bootstrap/js/core/app.js"></script>-->
    <!--<script type="text/javascript" src="../../bootstrap/js/pages/sidebar_detached_sticky_native.js"></script>-->
    <!--&lt;!&ndash; /theme JS files &ndash;&gt;-->

<!--</head>-->
<body>
<!-- Page container -->
<div class="page-container" th:fragment="container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <!-- sidebar-content -->
            <div class="sidebar-content">

                <!-- Support -->
                <div class="sidebar-category no-margin">
                    <div class="category-title">
                        <span>Have questions?</span>
                        <i class="icon-help text-muted pull-right"></i>
                    </div>

                    <div class="category-content">
                        <a href="http://kopyov.ticksy.com" class="btn bg-success-400 btn-block" target="_blank"><i class="icon-lifebuoy position-left"></i> Limitless support</a>
                    </div>
                </div>
                <!-- /support -->
                <!-- Main navigation -->
                <div class="sidebar-category">
                    <div class="category-title">
                        <span>Navigation</span>
                        <i class="icon-menu7 text-muted pull-right"></i>
                    </div>

                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li class="navigation-header">Main</li>
                            <li><a href="index.html">Introduction</a></li>
                            <li class="navigation-header">Basic functionality</li>
                            <li><a href="base_less_css.html">LESS and CSS</a></li>
                            <!--多级菜单展现-->
                            <li>
                                <a href="#">Plugins</a>
                                <ul>
                                    <li><a href="plugins_forms.html">Forms</a></li>
                                    <li><a href="plugins_forms_styling.html">Form styling</a></li>
                                </ul>
                            </li>
                            <li><a href="base_bootstrap.html">Bootstrap</a></li>

                            <li class="navigation-header">Layout options</li>
                            <li><a href="layout_markup.html">Markup</a></li>
                            <li class="active"><a href="layout_page_header.html">Page header</a></li>
                            <li><a href="layout_footer.html">Footer</a></li>

                            <li class="navigation-header">Other</li>
                            <li><a href="other_credits.html">Sources and credits</a></li>
                            <li><a href="other_changelog.html">Changelog <span class="label bg-warning-400">Version 0.0</span></a></li>
                            <!-- /main -->
                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar-content -->
        </div>
        <!-- /Main sidebar -->

        <!--右侧的菜单 选项的内容 -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Limitless</span> - Page Header</h4>
                    </div>

                    <div class="heading-elements">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
                            <li class="active">Page header</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /page header -->
        </div>






    </div>
    <!-- /Page content -->
</div>
<!-- /Page container -->
</body>
</html>
