<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>weidea.net - Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css"/>
	<link href="../../bootstrap/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css"/>
	<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../../bootstrap/css/core.min.css" rel="stylesheet" type="text/css"/>
	<link href="../../bootstrap/css/components.min.css" rel="stylesheet" type="text/css"/>
	<link href="../../bootstrap/css/colors.min.css" rel="stylesheet" type="text/css"/>
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="../../bootstrap/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="../../bootstrap/js/core/libraries/bootstrap.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="../../bootstrap/js/plugins/ui/prism.min.js"></script>
	
	<script type="text/javascript" src="../../bootstrap/js/core/app.js"></script>
	<script type="text/javascript" src="../../bootstrap/js/pages/sidebar_detached_sticky_native.js"></script>
	<!-- /theme JS files -->

</head>

<body data-spy="scroll" data-target=".sidebar-detached" class="has-detached-right">


<!-- Main navbar  -->
<div class="navbar navbar-default navbar-lg header-highlight">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""/></a>

		<ul class="nav navbar-nav pull-right visible-xs-block">
			<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			<li><a class="sidebar-mobile-detached-toggle"><i class="icon-grid7"></i></a></li>
		</ul>
	</div>

	<div class="navbar-collapse collapse" id="navbar-mobile">
		<ul class="nav navbar-nav">
			<li><a class="sidebar-control sidebar-main-hide hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
			<li><a class="sidebar-control sidebar-detached-hide hidden-xs"><i class="icon-drag-right"></i></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="other_changelog.html#roadmap.html">Roadmap</a></li>
			<li><a href="other_changelog.html">Changelog <span class="label label-inline bg-warning-400 position-right">v. 1.0</span></a></li>
		</ul>
	</div>
</div>
<!-- /main navbar -->
<div th:replace="fragments/index_containt :: container">&nbsp;</div>



</body>
</html>
